* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    max-width: 139px;
    height: 60px;
    margin-left: 120px;
    padding: 16px;
}

nav .menu {
    max-width: 500px;
    height: 24px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 34px;

}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    padding: 15px;

}

nav .menu a:hover {
    background-color: #30b868;
    color: white;
    border-radius: 10px;
}

nav .btn-nav {
    max-width: 164px;
    height: 44px;
    background-color: #30b868;

    margin: 24px;
    margin-right: 120px;
    border: 1px solid #30b868;
    padding: 12px 16px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;



}

nav .btn-nav:hover {
    color: #000000;
    background-color: aqua;
}

#banner {
    border: 1px solid white;
    max-width: 1600px;
    height: 674px;
    background: url(../assets/hero-bg.png);


}

#banner .banner-content {
    max-width: 1360px;
    height: 380px;
    margin: 115px 120px 179px 120px;
    /* border: 1px solid red; */
}

/* #banner .banner-content .banner-main-content {} */

.banner-subheading {
    max-width: 350px;
    height: 50px;
    margin: 0px 555px 16px 555px;
    /* border: 1px solid red; */
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #30B868;
    font-size: 16px;
    font-weight: 600;

}

.banner-subheading img {
    max-width: 30px;
    height: 30px;
    padding-top: 16px;
}

.banner-subheading p {
    /* border: 1px solid red; */

    padding-top: 15px;
    text-align: center;
}

.banner-heading {
    margin: 0px 300px 5px 350px;
}

.banner-heading h1 {
    font-size: 70px;

}

.thinking {
    color: #ffffff;
    font-size: 65px;

}

.note-taking {
    color: #30B868;
    font-size: 65px;
}

.banner-text {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.banner-text-p1 {
    margin-bottom: 10px;
}

.banner-btns {
    justify-content: center;
    text-align: center;
    margin-top: 30px;


}

.banner-btns .btn-start {
    max-width: 400px;
    height: 52px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    color: #ffffff;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border: 1px solid #30B868;


}

.btn-start:hover {
    background-color: #ffffff;
    color: #000000;
}

.btn-works {
    max-width: 400px;
    height: 52px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: none;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #0000001f;
}

.btn-works:hover {
    background-color: #30B868;
    color: #000000;
}

#note-section {
    /* border: 1px solid red; */
    justify-content: center;
    text-align: center;
    margin-top: 40px;

}

#note-section h1 {
    font-size: 48px;
    color: #001931;
}

#note-section p {
    margin-top: 30px;
    color: #627382;
    font-size: 16px;

}

#card-section {
    display: flex;
    gap: 24px;
    margin: 80px 120px 0px 120px;
    /* border: 1px solid red; */

}

.card {
    /* border: 1px solid red; */
    justify-content: center;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.495);
    box-shadow: 10px 10px rgba(173, 216, 230, 0.299);
    border: 1px solid rgba(250, 235, 215, 0.769);
    margin-bottom: 30px;


}

.card:hover {
    background-color: rgba(100, 209, 23, 0.495);
    box-shadow: 10px 10px rgba(185, 159, 27, 0.299);
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;

}

.card p {
    font-size: 16px;
    color: #627382;
    margin-top: 15px;
    margin-bottom: 80px;


}

/* .icon-box {
    width: 60px;
    height: 60px;
    justify-content: center;
    text-align: center;
} */

.icon-box img {
    width: 60px;
    height: 60px;
    justify-content: center;
    text-align: center;
    background-color: rgb(210, 42, 9);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    padding: 15px;
}

#brain-section {
    display: flex;

}

.brain-content {
    max-width: 700px;
    height: 397px;
    /* border: 1px solid red; */
    margin-top: 100px;

}

.brain-solution {
    font-size: 20px;
    color: #30B868;
    font-weight: 600;
}

.brain-content h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 15px;
}

.brain-content p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 30px;
}

.brain-content ul {
    list-style: none;
}

.brain-content ul li {
    font-size: 20px;
    color: black;
    font-weight: 500;
    padding: 5px;


}

.brain-content .fas-icon {
    color: #30B868;
    margin-right: 10px;
}

#get-early-section {
    max-width: 1360px;
    height: 385px;
    border: 1px solid #F7F6F2;
    justify-content: center;
    text-align: center;
    margin: 10px 120px 120px 120px;
    background-color: #F7F6F2;

}

#get-early-section .ready-to-think {
    /* border: 1px solid red; */
    max-width: 1280px;
    height: 113px;
    margin: 80px 40px 24px 40px;

}

#get-early-section .ready-to-think h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;

}

#get-early-section .ready-to-think p {
    font-size: 16px;
    color: #627382;

}

.get-early-access {
    max-width: 1280px;
    height: 88px;

}

.btn-early-access {
    max-width: 194px;
    height: 52px;
    background-color: #30B868;
    color: #ffffff;
    font-weight: 600;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #30B868;
    cursor: pointer;
    margin-bottom: 20px;


}

.btn-early-access:hover {
    background-color: #ffffff;
    color: #000000;
}

.get-early-access p {
    font-size: 16px;
    color: #627382;
}

#footer {
    max-width: 1600px;
    height: 348px;
    border: 1px solid #001931f3;
    background-color: #001931f3;

}

.footer-and-social {
    margin: 120px 120px 80px 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.footer-and-social img {}

.social-and-icon p {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;

}

.social-icon a {
    color: #ffffff;
    padding: 5px;
}

.social-icon a:hover {
    color: #000000;
}

.copyright-at-footer {
    width: 1360px;
    height: 24px;
    justify-content: center;
    text-align: center;
    margin: 0px 120px 30px 120px;


}

.copyright-at-footer p {
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 30px;
}