* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    max-width: 139px;
    height: 60px;
    margin-left: 120px;
    padding: 16px;
}

nav .menu {
    max-width: 500px;
    height: 24px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 34px;

}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    padding: 15px;

}

nav .menu a:hover {
    background-color: #30b868;
    color: white;
    border-radius: 10px;
}

nav .btn-nav {
    max-width: 164px;
    height: 44px;
    background-color: #30b868;

    margin: 24px;
    margin-right: 120px;
    border: 1px solid #30b868;
    padding: 12px 16px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;



}

nav .btn-nav:hover {
    color: #000000;
    background-color: aqua;
}